// Colors
$primary-color-1:#5AB88A;
$primary-color-2: #F1F9F4;

$second-color-1:#ECECEC;

$gray-color-1:#eee;
$gray-color-2:#ccc;
$gray-color-3:#999;

$black-color-1:#555555;
$white-color-1:#fff;


$red-color-1:#BF2A2A;
$red-color-2:#ff655a;
$blue-color-1:#2A77BF;
$yellow-color-1:#E3C316;
$green-color-1:#80c979;
// Fonts
$font-path-lexend: "../fonts/lexend" !default;
$font-primary: "lexend";