.no-auth-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

  border-radius: 15px;
}

.forgot-pwd-form {
  margin: 10% 34%;
}
//fix
.login-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  .btn-login {
    width: 320px;
  }
}
.change-pwd-form {
  margin: 10% 37%;
}

.s-line {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  .logo{
    height: 60px;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

//fix
.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  label {
    color: $black-color-1;
    font-size: 1rem;
    font-weight: 500;
  }
  input{
    height: 25px;
    padding: 8px 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    border-radius: 25px;
    background: $second-color-1;
    width: 330px;
    height: 40px;
  }
}

.input-label {
  font-family: $font-primary;
}


.pwd-display {
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

.show-pwd-icon {
  float: right;
}

.pwd-field {
  width: 100%;
}


.msg-height {
  height: 8px;
}

.err-msg {
  color: red;
}

.success-msg {
  color: blue;
}

.guide-line {
	display: flex;
	justify-content: center;
  font-size: x-small;
}

.guide-link {
	text-decoration: none;
}

.forget-password {
  text-decoration: none;
  color: $black-color-1;
}