ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    
    li{
        margin: 10px;
        padding:10px 20px;
        border:1px solid #000;
        white-space: nowrap;
        cursor: pointer;
    }
}
.box{
    padding: 20px;
    border:1px solid #000;
    height: 100%;
}