.header {
    &__wrapper {
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .current-time{
        font-weight: 500;
    }
    .user-box{
        padding: 5px 10px;
        border:1px solid $primary-color-1;
        display: flex;
        align-items: center;
        border-radius: 25px;
        background-color: $white-color-1;
        &__avatar{
            width: 30px;
            height: 30px;
            border:1px solid $primary-color-1;
            border-radius: 50%;
            background-color: $gray-color-1;
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                font-weight: 500;
                color: $primary-color-1;
                font-size: 1.25rem;
            }
        }
        &__name{
            margin: 0 8px;
            font-weight: 600;
        }
        &__arrow{
            color: $primary-color-1;
            cursor: pointer;
        }
    }
}