//
// Modals
// --------------------------------------------------

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;

  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
    translate:(0, -25%);
    transition-duration:("0.3s ease-out");
  }
  &.in .modal-dialog { translate:(0, 0); }
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: auto;
  margin: 20px;
}

// Actual modal
.modal-content {
  position: relative;
  background-color: #FFFF;
  background-clip: padding-box;
  border: 1px solid #FFFF; //old browsers fallback (ie8 etc)
  border: 1px solid #FFFF;
  border-radius: 25px;
  box-shadow:(0 3px 9px rgba(0, 0, 0, .5));
  // Remove focus outline from opened modal
  outline: 0;
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  // Fade for backdrop
  &.fade { opacity:(0); }
  &.in { opacity:(1); }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  padding: 20px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// Close icon
.modal-header .close {
  margin-top: -2px;
}

// Title text within header
.modal-title {
  margin: 0;
  line-height: 1;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  // padding: 5px;
}

// Footer (for actions)
.modal-footer {
  padding: 5px;
  text-align: right; // right align buttons
  border-top: 1px solid #fff;

  // Properly space out buttons
  .btn + .btn {
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
    margin-left: 5px;
  }
  // but override that for button groups
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  // and override it for block buttons as well
  .btn-block + .btn-block {
    margin-left: 0;
  }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

// Scale up the modal
@media (min-width: 1200px) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    width: 1200px;
    margin: 30px auto;
  }
  .modal-content {
    box-shadow:(0 5px 15px rgba(0, 0, 0, .5));
  }

  // Modal sizes
  .modal-sm { width: 600px; }
}

@media (min-width: 767px) {
  .modal-lg { width: 600px; }
}

.close-btn {
  width: 40px;
  height: 40px;
  color: rgb(59, 193, 35);
  padding: 5px 10px;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
