.table {
    padding: 20px 0;
    background-color: $white-color-1;
    border: 1px solid $gray-color-2;
    border-radius: 25px;

    table {
        width: 100%;
        border-collapse: collapse;

        thead {
            th {
                padding: 1rem;
                border-top: 1px solid $black-color-1;
                border-bottom: 1px solid $black-color-1;
                background-color: $gray-color-1;
            }
        }

        tbody {
            td {
                padding: 1rem 5px;
                border-top: 1px solid $gray-color-2;
                border-bottom: 1px solid $gray-color-2;
            }
            tr {
                .group-button {
                    button {
                        margin: 0px 8px;
                    }
                }
            }
        }
    }

    &__top{
        padding: 0 20px 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .search-box {
            border: 2px solid $black-color-1;
            border-radius: 25px;
            padding: 8px 15px;
            display: inline-flex;
            align-items: center;
            width: 300px;
            max-width: 100%;
            select,
            input {
                border: none;
                outline: none;
                font-size: 14px;
            }
            select{
                font-weight: 500;
                border: 0;
                outline: 0;
                border: 1px solid white;
                color: #555;
            }
            input{
                padding: 0 5px;
                flex: 1;
                width: 100%;
                min-width: 50px;
            }
    
            &__icon {
                cursor: pointer;
            }
        }
        .sort-box{
            select{
                padding-right:5px;
                border: none;
                outline: none;
                font-size: 14px;
                font-weight: 500;
                border: 1px solid white;
                color: #555;
            }
        }
        .group-control{
            display: flex;
            align-items: center;
        }
    }
    &__bottom{
        margin-top: 20px;
        padding: 0 20px;
        text-align: right;
        .pagination{
            .page-item{
                margin: 0 5px;
                padding: 5px 10px;
                border: 1px solid $primary-color-1;
                border-radius: 5px;
                cursor: pointer;
                &.active{
                    background-color: $primary-color-1;
                    color: $white-color-1;
                }
            }
        }
    }
}